.hero{
    background-image: url(./../images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
     
    height: 100vh;
}

.filter{
     background-color: rgba(0, 0, 0, 0.5);
     height: 100%;
     width: 100%;
     backdrop-filter: blur(2px);
}

.landing{
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing h1{
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 4rem;
margin: 3rem 0 2rem 2rem ;

}

.hero-images{
    width: 50%;
    height: 100%;
    margin-left: 10rem;
}

.hero1{
    position: absolute;
    bottom: 1rem; right: 1rem;
    width: 15rem;
    height: 15rem;
    z-index: 1;
}

.hero2{
    position: absolute;
    bottom: 8rem; right: 10rem;
    width: 15rem;
    height: 15rem;
    z-index: 0;
}