.head{
    display: flex;
    padding: 0.5rem 1rem;
    justify-content: space-between;
    align-items: center;
}

.links{
    display: flex;
}
.links li{
    list-style: none;
    margin-right: 1rem;
}
.logo{
    width: 7rem;
    height: 3rem;
    
}