.products{
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.product-card{
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    grid-gap: 2rem;
    align-items: center;
}

.product-card h3{
    font-size: 1.5rem;
}

.product-card .card {
   padding: 1rem;
   width: 25rem;
   height: 25rem;
   font-size: 2rem;
   color: white;
   font-weight: 200;
}

.card1 .card{
background: rgba(5, 24, 92, 0.8);
border-radius: 8px;
}

.card2 .card{
background: #9C0001;
border-radius: 8px;
}

.card3 .card{
background: rgba(5, 24, 92, 0.8);
border-radius: 8px;
}

.title{
    font-size: 2.5rem;
    margin: auto;
    margin-bottom: 2rem;
}



